
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* main page */
.main {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* input */
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#itemInput {
    flex-grow: 0.8;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#itemInput,
#priceInput {
    flex-grow: 1;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addItemBtn {
    background: #000000;
    color: rgb(247, 222, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#addItemBtn:hover {
    background: #3b3b3b;
}

#addItemBtn:active {
    background: white;
    color: black;
}

.item-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mark-btn {
    background-color: #a1acb8;
    color: white;
    border: none;
    padding: 4px 8px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s ease;
}

.mark-btn:hover {
    background-color: #727e8b;
}


/* Shopping list */
#shoppingList {
    list-style: none;
    padding: 10px 0;
}

#shoppingList li {
    padding: 10px;
    margin-bottom: 8px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#shoppingList li:hover {
    background: #ddd;
}

/* Mark as purchased visual */
.purchased {
    text-decoration: line-through;
    color: green;
}

/* Clear list */
#clearListBtn {
    background-color: #000000;
    color: rgb(247, 222, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#clearListBtn:hover {
    background-color: #3b3b3b;
}

#clearListBtn:active {
    background-color: white;
    color: black;
}

/* Total */
.total-container {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.reset-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 8px;
}

.reset-btn:hover {
    background-color: #cc0000;
}

.edit-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.mark-btn,
.edit-btn {
    margin-right: 10px;
}